## Observations and Insights

In [109]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st



# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

mouse_metadata.head()
study_results.head()
# Combine the data into a single dataset
mouse_merge_df = pd.merge(mouse_metadata, study_results, on="Mouse ID")

# Display the data table for preview
mouse_merge_df.head(20)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1
10,s185,Capomulin,Female,3,17,0,45.000000,0
11,s185,Capomulin,Female,3,17,5,43.878496,0
12,s185,Capomulin,Female,3,17,10,37.614948,0
13,s185,Capomulin,Female,3,17,15,38.177232,0
14,s185,Capomulin,Female,3,17,20,36.866876,0
15,s185,Capomulin,Female,3,17,25,33.949940,0
16,s185,Capomulin,Female,3,17,30,32.959671,1
17,s185,Capomulin,Female,3,17,35,28.328531,1
18,s185,Capomulin,Female,3,17,40,25.472143,1
19,s185,Capomulin,Female,3,17,45,23.343598,1

In [110]:
# Checking the number of mice.
mouse_count = mouse_merge_df["Mouse ID"].count()
mouse_count

1893

In [126]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 

x = mouse_merge_df.columns
x                         
                                    

# Me" create a new list of duplicate IDs and Timepoint values




mouse_merge_dupfree_df = mouse_merge_df.drop_duplicates(subset=["Mouse ID", "Timepoint"], keep='last')
                         #cleaned_df=df.drop_duplicates(subset=['Mouse ID', 'Timepoint'], keep='last')

mouse_merge_dupfree_df.head(20)
#print(len(mouse_merge_dupfree_df ))

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1
10,s185,Capomulin,Female,3,17,0,45.000000,0
11,s185,Capomulin,Female,3,17,5,43.878496,0
12,s185,Capomulin,Female,3,17,10,37.614948,0
13,s185,Capomulin,Female,3,17,15,38.177232,0
14,s185,Capomulin,Female,3,17,20,36.866876,0
15,s185,Capomulin,Female,3,17,25,33.949940,0
16,s185,Capomulin,Female,3,17,30,32.959671,1
17,s185,Capomulin,Female,3,17,35,28.328531,1
18,s185,Capomulin,Female,3,17,40,25.472143,1
19,s185,Capomulin,Female,3,17,45,23.343598,1

In [171]:
#get tumor vol stats
mouse_grp_drug_df = mouse_merge_dupfree_df.groupby(["Drug Regimen"])
tumor_vol_mean = mouse_grp_drug_df["Tumor Volume (mm3)"].mean()
tumor_vol_median = mouse_grp_drug_df["Tumor Volume (mm3)"].median()
tumor_vol_var = mouse_grp_drug_df["Tumor Volume (mm3)"].var()
tumor_vol_std = mouse_grp_drug_df["Tumor Volume (mm3)"].std()
tumor_vol_sem = mouse_grp_drug_df["Tumor Volume (mm3)"].sem()
print(tumor_vol_std)

Drug Regimen
Capomulin    40.675741
Ceftamin     52.591172
Infubinol    52.884795
Ketapril     55.235638
Naftisol     54.331565
Placebo      54.033581
Propriva     52.382993
Ramicane     40.216745
Stelasyn     54.233149
Zoniferol    53.236507
Name: Tumor Volume (mm3), dtype: float64
Drug Regimen
Capomulin    4.994774
Ceftamin     6.268188
Infubinol    6.567243
Ketapril     8.279709
Naftisol     8.134708
Placebo      7.821003
Propriva     6.574208
Ramicane     4.846308
Stelasyn     7.710419
Zoniferol    6.966589
Name: Tumor Volume (mm3), dtype: float64

In [165]:




#get tumor volume
mouse_grp_df = mouse_merge_dupfree_df.groupby(["Drug Regimen", "Timepoint", "Tumor Volume (mm3)"])

#get just drug, timepoint, and tumor volumn data
#tumor_vol_df = mouse_merge_dupfree_df.loc[:, ["Drug Regimen", "Timepoint", "Tumor Volume (mm3)" ]].head(50)
  
#mouse_grp_df = mouse_grp_df.loc[:, ["Drug Regimen", "Timepoint", "Tumor Volume (mm3)" ]].head(50)
    
#get tumor volume average
ave_tumor_vol_df = mouse_grp_df.mean()


ave_tumor_vol_df= ave_tumor_vol_df.reset_index()

ave_tumor_vol_df.head(50)

tumor_vol_SEM_df = mouse_grp_df.sem()
tumor_vol_SEM_df = pd.DataFrame(tumor_vol_SEM_df).reset_index()
tumor_vol_SEM_df.head(50)

,Drug Regimen,Timepoint,Tumor Volume (mm3),Age_months,Metastatic Sites,Mouse ID,Sex,Weight (g)
0,Capomulin,0,45.000000,1.570011,0.0,NaN,NaN,0.57248
1,Capomulin,5,38.796474,NaN,NaN,NaN,NaN,NaN
2,Capomulin,5,39.202129,NaN,NaN,NaN,NaN,NaN
3,Capomulin,5,41.019913,NaN,NaN,NaN,NaN,NaN
4,Capomulin,5,41.408591,NaN,NaN,NaN,NaN,NaN
5,Capomulin,5,41.534097,NaN,NaN,NaN,NaN,NaN
6,Capomulin,5,42.261665,NaN,NaN,NaN,NaN,NaN
7,Capomulin,5,43.180977,NaN,NaN,NaN,NaN,NaN
8,Capomulin,5,43.878496,NaN,NaN,NaN,NaN,NaN
9,Capomulin,5,44.022752,NaN,NaN,NaN,NaN,NaN
10,Capomulin,5,45.462243,NaN,NaN,NaN,NaN,NaN
11,Capomulin,5,45.473753,NaN,NaN,NaN,NaN,NaN
12,Capomulin,5,45.595685,NaN,NaN,NaN,NaN,NaN
13,Capomulin,5,45.597064,NaN,NaN,NaN,NaN,NaN
14,Capomulin,5,45.622381,NaN,NaN,NaN,NaN,NaN
15,Capomulin,5,45.641438,NaN,NaN,NaN,NaN,NaN
16,Capomulin,5,45.651331,NaN,NaN,NaN,NaN,NaN
17,Capomulin,5,45.704434,NaN,NaN,NaN,NaN,NaN
18,Capomulin,5,45.737145,NaN,NaN,NaN,NaN,NaN
19,Capomulin,5,45.760886,NaN,NaN,NaN,NaN,NaN
20,Capomulin,5,45.781746,NaN,NaN,NaN,NaN,NaN
21,Capomulin,5,45.838998,NaN,NaN,NaN,NaN,NaN
22,Capomulin,5,45.839400,NaN,NaN,NaN,NaN,NaN
23,Capomulin,5,45.851193,NaN,NaN,NaN,NaN,NaN
24,Capomulin,5,45.893720,NaN,NaN,NaN,NaN,NaN
25,Capomulin,5,45.895647,NaN,NaN,NaN,NaN,NaN
26,Capomulin,10,35.624403,NaN,NaN,NaN,NaN,NaN
27,Capomulin,10,36.825367,NaN,NaN,NaN,NaN,NaN
28,Capomulin,10,37.614948,NaN,NaN,NaN,NaN,NaN
29,Capomulin,10,39.005494,NaN,NaN,NaN,NaN,NaN
30,Capomulin,10,39.113891,NaN,NaN,NaN,NaN,NaN
31,Capomulin,10,39.848223,NaN,NaN,NaN,NaN,NaN
32,Capomulin,10,39.952347,NaN,NaN,NaN,NaN,NaN
33,Capomulin,10,41.630010,NaN,NaN,NaN,NaN,NaN
34,Capomulin,10,41.999228,NaN,NaN,NaN,NaN,NaN
35,Capomulin,10,42.992077,NaN,NaN,NaN,NaN,NaN
36,Capomulin,10,43.231963,NaN,NaN,NaN,NaN,NaN
37,Capomulin,10,43.270852,NaN,NaN,NaN,NaN,NaN
38,Capomulin,10,43.421014,NaN,NaN,NaN,NaN,NaN
39,Capomulin,10,43.688026,NaN,NaN,NaN,NaN,NaN
40,Capomulin,10,44.502042,NaN,NaN,NaN,NaN,NaN
41,Capomulin,10,46.059608,NaN,NaN,NaN,NaN,NaN
42,Capomulin,10,46.154737,NaN,NaN,NaN,NaN,NaN
43,Capomulin,10,46.304003,NaN,NaN,NaN,NaN,NaN
44,Capomulin,10,46.408361,NaN,NaN,NaN,NaN,NaN
45,Capomulin,10,46.414518,NaN,NaN,NaN,NaN,NaN
46,Capomulin,10,46.425366,NaN,NaN,NaN,NaN,NaN
47,Capomulin,10,46.544292,NaN,NaN,NaN,NaN,NaN
48,Capomulin,10,46.568417,NaN,NaN,NaN,NaN,NaN
49,Capomulin,10,46.749006,NaN,NaN,NaN,NaN,NaN

In [112]:
# Optional: Get all the data for the duplicate mouse ID. 

mouse_merge_by_ID_df = mouse_merge_df.groupby(['Mouse ID'])

mouse_merge_by_ID_df.head(20)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [113]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_mouse_merge_df = mouse_merge_dupfree_df.drop_duplicates(subset=["Mouse ID"], keep='last')
clean_mouse_merge_df.head(10)

unique_mouse_df = clean_mouse_merge_df["Mouse ID"].unique()
unique_mouse_df

array(['k403', 's185', 'x401', 'm601', 'g791', 's508', 'f966', 'm546',
       'z578', 'j913', 'u364', 'n364', 'y793', 'r554', 'm957', 'c758',
       't565', 'a644', 'i177', 'j989', 'i738', 'a520', 'w914', 'r811',
       'g288', 'i334', 'q610', 'd251', 'l897', 'c458', 'b742', 'b128',
       'j246', 'a411', 'j119', 'w150', 'v923', 'g316', 's710', 'l509',
       'r944', 'e662', 'u196', 'q597', 'a444', 'i557', 'r921', 'w678',
       'y449', 'a203', 'a251', 'a262', 'a275', 'a366', 'a401', 'a457',
       'a492', 'a577', 'a685', 'a699', 'a788', 'a818', 'a897', 'a963',
       'b313', 'b447', 'b487', 'b559', 'b759', 'b879', 'c139', 'c264',
       'c282', 'c302', 'c326', 'c402', 'c559', 'c580', 'c757', 'c766',
       'c819', 'c832', 'c895', 'c927', 'd133', 'd164', 'd474', 'e213',
       'e227', 'e291', 'e476', 'e584', 'f129', 'f234', 'f278', 'f345',
       'f394', 'f436', 'f545', 'f932', 'f993', 'g107', 'g296', 'g497',
       'g558', 'g570', 'g867', 'g989', 'h246', 'h333', 'h428', 'h531',
       'i386', 'i477', 'i635', 'i669', 'i901', 'j235', 'j296', 'j365',
       'j755', 'j984', 'k210', 'k382', 'k483', 'k510', 'k603', 'k754',
       'k804', 'k862', 'k894', 'l215', 'l264', 'l471', 'l490', 'l558',
       'l661', 'l700', 'l725', 'l733', 'l872', 'm133', 'm269', 'm331',
       'm550', 'm650', 'm756', 'n304', 'n482', 'n630', 'n671', 'n678',
       'n763', 'n923', 'n967', 'o287', 'o302', 'o331', 'o523', 'o562',
       'o725', 'o795', 'o809', 'o813', 'o848', 'o926', 'o973', 'p136',
       'p189', 'p310', 'p387', 'p438', 'p981', 'q119', 'q132', 'q483',
       'q511', 'q582', 'q633', 'q787', 'r107', 'r157', 'r604', 'r701',
       'r850', 's121', 's141', 's152', 's166', 's187', 's337', 's565',
       's619', 't198', 't451', 't573', 't718', 't724', 't994', 'u149',
       'u153', 'u327', 'u946', 'v199', 'v289', 'v295', 'v339', 'v409',
       'v603', 'v719', 'v764', 'v766', 'v835', 'v989', 'v991', 'w140',
       'w151', 'w167', 'w193', 'w350', 'w422', 'w540', 'w575', 'w584',
       'w697', 'w746', 'x111', 'x209', 'x226', 'x264', 'x336', 'x402',
       'x581', 'x613', 'x773', 'x822', 'x930', 'y163', 'y260', 'y478',
       'y601', 'y769', 'y865', 'z234', 'z314', 'z435', 'z581', 'z795',
       'z969'], dtype=object)

In [125]:
unique_mice = clean_mouse_merge_df.drop_duplicates(subset=['Mouse ID', 'Drug Regimen']).copy()
len(unique_mice) #249 unique mice within all Drug Regimens
unique_mice.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
9,k403,Ramicane,Male,21,16,45,22.050126,1
19,s185,Capomulin,Female,3,17,45,23.343598,1
29,x401,Capomulin,Female,16,15,45,28.484033,0
39,m601,Capomulin,Male,22,17,45,28.430964,1
49,g791,Ramicane,Male,11,16,45,29.128472,1

In [115]:
grp=unique_mice.groupby(['Drug Regimen']).count()
print(grp)

              Mouse ID  Sex  Age_months  Weight (g)  Timepoint  \
Drug Regimen
Capomulin           25   25          25          25         25
Ceftamin            25   25          25          25         25
Infubinol           25   25          25          25         25
Ketapril            25   25          25          25         25
Naftisol            25   25          25          25         25
Placebo             25   25          25          25         25
Propriva            25   25          25          25         25
Ramicane            25   25          25          25         25
Stelasyn            24   24          24          24         24
Zoniferol           25   25          25          25         25

              Tumor Volume (mm3)  Metastatic Sites
Drug Regimen
Capomulin                     25                25
Ceftamin                      25                25
Infubinol                     25                25
Ketapril                      25                25
Naftisol                      25                25
Placebo                       25                25
Propriva                      25                25
Ramicane                      25                25
Stelasyn                      24                24
Zoniferol                     25                25

In [116]:
# Checking the number of mice in the clean DataFrame.
unique_mice.count()

Mouse ID              249
Drug Regimen          249
Sex                   249
Age_months            249
Weight (g)            249
Timepoint             249
Tumor Volume (mm3)    249
Metastatic Sites      249
dtype: int64

## Summary Statistics

In [175]:
# Generate a summary statistics table of mean, median, variance, standard deviation, 
#and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of 
#each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the #tumor volume. 
# Assemble the resulting series into a single summary dataframe.

                       #****get tumor vol stats*****

#group duplicate free merge by drug type
mouse_grp_drug_df = mouse_merge_dupfree_df.groupby(["Drug Regimen"])

#calculate the various stats for tumor volume
tumor_vol_mean = mouse_grp_drug_df["Tumor Volume (mm3)"].mean()
tumor_vol_median = mouse_grp_drug_df["Tumor Volume (mm3)"].median()
tumor_vol_var = mouse_grp_drug_df["Tumor Volume (mm3)"].var()
tumor_vol_std = mouse_grp_drug_df["Tumor Volume (mm3)"].std()
tumor_vol_sem = mouse_grp_drug_df["Tumor Volume (mm3)"].sem()


#add stats to a new dataframe

tumor_vol_stats_df = pd.DataFrame({'Tumor Vol Mean': tumor_vol_mean, 'Tumor Vol Median': tumor_vol_median,
                                  'Tumor Vol Variance': tumor_vol_var, 'Tumor Vol Std': tumor_vol_std,
                                   'Tumor Vol SEM': tumor_vol_sem})

tumor_vol_stats_df


# group by Drug Regimen and get stats on group
#unique_mice_stats=unique_mice.groupby(['Drug Regimen']).describe()

#print stats on tumor volume values
#unique_mice_drug = unique_mice.groupby(['Drug Regimen']
#print(unique_mice_drug)
#unique_mice_drug['Tumor Volume (mm3)'].mean()


#tumor_volume_stats = unique_mice_stats.loc[:,'Tumor Volume (mm3)']
# print('Tumor Volume Stats:')
# print(tumor_volume_stats)
# print('\n')
# print('Mouse STATS')
# print(unique_mice_stats)

#unique_mice_stats_2 = unique_mice.groupby(['Drug Regimin)'])

#print('MEAN')
#print(unique_mice_stats_2)
#Calculations
# drug_mean = unique_mice_stats.loc[:,'Tumor Volume (mm3)']).mean()
# drug_median = mouse_merge_dupfree_df.groupby(['Drug Regimen']).median()
#drug_variance = mouse_merge_dupfree_df.groupby(['Drug Regimen']).variance()
# # this could also be: sqrt(drug_variance)
# drug_SD = mouse_merge_dupfree_df.groupby(['Drug Regimen']).std()

# Standard Error of the Mean (SEM)
#grp_SEM = mouse_merge_dupfree_df.groupby(['Drug Regimen']).sem()
# Tumor_sem = grp_SEM.loc[:,'Tumor Volume (mm3)']

# Standard Error of the Mean (SEM) two
# grp_SEM2 = un_mice.groupby(['Drug Regimen']).sem()
# Tumor_sem2 = grp_SEM.loc[:,'Tumor Volume (mm3)']



#print(f'Mean: {drug_mean}')

# print(Tumor_sem)
# print(Tumor_stats)


# print(Tumor_sem2)
# print(Tumor_stats2)

Drug Regimen
Capomulin    4.994774
Ceftamin     6.268188
Infubinol    6.567243
Ketapril     8.279709
Naftisol     8.134708
Placebo      7.821003
Propriva     6.574208
Ramicane     4.846308
Stelasyn     7.710419
Zoniferol    6.966589
Name: Tumor Volume (mm3), dtype: float64

,Tumor Vol Mean,Tumor Vol Median,Tumor Vol Variance,Tumor Vol Std,Tumor Vol SEM
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466
Placebo,54.033581,52.288934,61.168083,7.821003,0.581331
Propriva,52.382993,50.783528,43.220205,6.574208,0.526358
Ramicane,40.216745,40.673236,23.486704,4.846308,0.320955
Stelasyn,54.233149,52.431737,59.450562,7.710419,0.573111
Zoniferol,53.236507,51.818479,48.533355,6.966589,0.516398

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.

X axis = number of mice 
Y axis = the drug type

In [10]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

X axis = number of mice 
Y axis = the drug type

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen